body {
    font-family: Arial, sans-serif;
}

.background {
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    opacity: 1;
}

.contenido {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
}

#contenido-proyectos{
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
#contenido-proyectos h2{
    text-align: center;
}

#projects {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.proyecto{
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 10px;
} 

.proyecto h3{
    text-align: center;
}

.contact {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    /*background: linear-gradient(90deg, steelblue 0%, skyblue 100%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);*/
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: black;
}

footer {
    margin: 20px;
    text-align: center;
    font-size: 12px;
    color: blue;
}
